<nav class="fixed h-16 top-0 left-0 w-full z-50 bg-white shadow-md flex justify-between items-center px-6 py-4 pointer-events-auto">
    <div class="flex justify-between items-center font-bold gap-5">
        <a href="/" class="text-red-600 text-xl">Pinterest</a>
        <a>Explore</a>
    </div>
    <div class="flex justify-between items-center gap-5 text-blue-600">
        <a>About</a>
        <a>Create</a>
        <a>News</a>
        <a href="/login" class="bg-red-600 text-white p-2 rounded-xl inline-block">Log in</a>
        <a href="/signup" class="bg-gray-200 text-black p-2 rounded-xl inline-block">Sign up</a>
    </div>
</nav>

