<% include  ./partials/header.ejs %>
<%- include('./partials/navbar.ejs', { nav: true }) %>

    <div class="columns-1 sm:columns-2 md:columns-4 lg:columns-6 gap-4 space-y-2 p-2 mt-20">
      <% pins.forEach(pin => { %>
        <div class="break-inside-avoid bg-white overflow-hidden mb-4">
          <img src="<%= pin.image %>" alt="<%= pin.title %>" class="w-full rounded-lg">
          <div class="p-1"><%= pin.title %></div>
        </div>
      <% }) %>
    </div>


<% include  ./partials/footer.ejs %>